echo interest.exe> C:\banking-mainframe-project\.gitignore
echo scripts/bin/desktop.ini>> C:\banking-mainframe-project\.gitignore
echo data/bank.db>> C:\banking-mainframe-project\.gitignore
echo data/bank_backup.db>> C:\banking-mainframe-project\.gitignore
echo *.pyc>> C:\banking-mainframe-project\.gitignore
echo __pycache__/>> C:\banking-mainframe-project\.gitignore
echo data/account_data.ps>> C:\banking-mainframe-project\.gitignore
echo !scripts/bin/account_data.ps>> C:\banking-mainframe-project\.gitignore